.data-table-header {
    border-bottom: 1px solid;
    padding: 10px 5px;
}
.data-table-header .btn-flat {
    padding: 0 1rem;
}
.data-table-header .item-count {
    padding-left: 10px;
    padding-right: 15px;
}
.data-table-header.selected {
    background-color: #f5f5f5;
}

table.data-table {
    font-size: 80%;
}
table.data-table tbody tr:hover {
    background-color: #eeeeee;
}
table.data-table tbody tr.selected {
    background-color: #f5f5f5;
}
table.data-table input[type="checkbox"] + label {
    padding-left: 5px;
    height: 15px;
}
table.data-table input[type="checkbox"] + label:before {
    height: 14px;
    width: 14px;
}
table.data-table input[type="checkbox"]:checked + label:before {
    height: 18px;
    width: 10px;
}
