// Table style from MaterializeCSS
$table-border-color: #d0d0d0;
$table-striped-color: #f2f2f2;

table, th, td {
  border: none;
}

table {
  width:100%;
  display: table;
  border-collapse: collapse;

  &.bordered > thead > tr,
  &.bordered > tbody > tr {
    border-bottom: 1px solid $table-border-color;
  }

  &.striped > tbody {
    > tr:nth-child(odd) {
      background-color: $table-striped-color;
    }

    > tr > td {
      border-radius: 0;
    }
  }

  &.highlight > tbody > tr {
    transition: background-color .25s ease;
    &:hover {
      background-color: $table-striped-color;
    }
  }

  &.centered {
    thead tr th, tbody tr td {
      text-align: center;
    }
  }

}

thead {
  border-top: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;
}

td, th{
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

.data-table-header {
  padding: 10px 5px;

  &.selected {
    background-color: color($accent, '50');
  }
}

.data-table-menu {
  color: color($accent);

  a {
    padding: 0 1rem;
  }

  .item-count {
    padding-left: 10px;
    padding-right: 15px;
  }
}

table.data-table {
  font-size: 80%;
  color: rgb(13%,13%,13%);

  thead {
    color: rgb(46%,46%,46%);
    .sorted {
      color: rgb(13%,13%,13%);
      md-icon {
        transition: transform 0.25s, opacity 0.25s;

        &.asc {
          transform: rotate(0deg);
        }

        &.desc {
          transform: rotate(180deg);
        }
      }
    }
    .sortable {
      &:not(.sorted):hover {
        md-icon::before {
          color: rgb(62%,62%,62%);
          content: 'arrow_upward';
        }
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: #eeeeee;
      }
      &.selected {
        background-color: #f5f5f5;
      }

      md-checkbox {
        position: relative;
        top: 7px;
      }
    }
  }

  td.is-loading-data md-progress-circular {
    margin: auto;
  }
}

/** Pagination */
.data-table-pagination {
  font-size: 80%;
  color: rgb(13%,13%,13%);

  md-input-container {
    margin: 0;
    top: 10px;
  }

  .data-table-pagination-right {
    .md-button.md-icon-button {
      padding: 0;
      margin: 0;
    }
  }
}

/** Text search */
.row-reverse {
  flex-direction: row-reverse;
}

.data-table-search {
  md-icon[md-icon-font="close"] {
    cursor: pointer;
  }

  md-input-container {
    margin: 0;
    cursor: pointer;

    .md-errors-spacer {
      min-height: 0;
    }

    input {
      width: 0;

      -webkit-transition: all .5s;
	    -moz-transition: all .5s;
	    transition: all .5s;
    }

    &.expanded input {
      width: 170px;
    }

    &:not(.md-input-invalid).md-input-focused {
      .md-input {
        border-color: rgba(0, 0, 0, 0.12);
      }

      md-icon {
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }
}
