{{#unless this.data-table.selectionIsEmpty}}
  <span class="item-count">{{this.selectionCount}} item(s) selected</span>
  <button type="button" {{action "clearSelection"}}>Cancel</button>
  {{yield (slice 0 this.selectionCount this.data-table.selection) this.data-table}}
{{/unless}}
