{{#unless selectionIsEmpty}}
  <span class="item-count">{{selectionCount}} item(s) selected</span>
  <a class="waves-effect waves-light btn-flat" {{action 'clearSelection'}}>Cancel</a>
  {{yield selection}}
{{/unless}}
