{{#each rows as |row|}}
  <tr class="{{if row.isSelected 'selected'}}">
    {{#if enableSelection}}
      <td class="center">{{md-check checked=row.isSelected}}</td>
    {{/if}}
    {{yield row}}
  </tr>
{{/each}}
