{{#unless data-table.selectionIsEmpty}}
  <span class="item-count">{{selectionCount}} item(s) selected</span>
  {{#paper-button onClick=(action "clearSelection") accent=true noInk=true}}Cancel{{/paper-button}}
  {{yield (slice 0 selectionCount data-table.selection) data-table}}
{{/unless}}
